.div-cards {
    width: fit-content;
    padding: 50px;
    border: 2px solid #000;
}

.div-cards:nth-child(1) {
    width: 145px;
}

p {
    width: fit-content;
    margin: 5px auto;
}

.div-cards:nth-child(1) button {
    margin: 0 32px;
}

button:hover {
    cursor: pointer;
    margin: auto;
}